body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#hide {
    position: absolute;
    opacity: 0;
    z-index: -100;
    white-space: pre;
}

@import "header.scss";
@import "searchBar.scss";
@import "sections.scss";
@import "searchOverlay.scss";
